<div [hidden]="!album_error">An error occurred while loading the album</div>
<a class="btn btn-link btn-lg" [routerLink]="['Band', {id: album?.artist_id}]">« Back</a>
<div [hidden]="album_error" class="row">
    <div class="col-md-6">
        <a [href]="album?.zip" style="float: right; padding-right: 10%;"><h1 class="glyphicon glyphicon-download-alt"></h1></a>
        <h1 style="text-align: center;">{{ album?.name }}</h1>
        <br>
        <ul class="list-group">
            <li *ngFor="#track of album?.tracks" class="list-group-item">
                {{ track.position }}. <strong>{{ track.name }}</strong>
                <br>
                <video controls height="50" width="300" name="media">
                    <source [src]="track.audio" type="audio/mpeg">
                </video>
                <br>
            </li>
        </ul>
    </div>
    <div *ngIf="album" class="col-md-6">
        <img [src]="album.image" style="float: right;">
    </div>
</div>
<div [hidden]="album_error" class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Comments</h2>

        <ul class="list-group">
            <li *ngFor="#comm of comments" class="list-group-item" style="word-wrap:break-word">
                {{ comm.body }}<span style="float: right;color: gray; overflow:auto;">{{ comm.author }}</span>
            </li>
        </ul>
        <form (ngSubmit)="addComment()">
            <textarea [(ngModel)]="comment" placeholder="What do you think about this album?" style="width: 40em; height: 7em;"></textarea>
            <button type="submit" class="btn btn-success green" style="float:right;"><i class="fa fa-share"></i> Send</button>
        </form>
    </div>

</div>